<script setup lang="ts">
import { ref } from "vue";
import { Question as QuestionDto } from "../model";

defineProps<{
  isReadonly: boolean;
  question: QuestionDto | undefined;
}>();

const emit = defineEmits<{ (e: "answer", value: string): void }>();

// ref
const openEndedAnswer = ref<number>();
const isInvalidAnswer = ref(false);

// function
function submitOpenEndedAnswer() {
  if (openEndedAnswer.value === undefined) {
    isInvalidAnswer.value = true;
  } else {
    emit("answer", openEndedAnswer.value.toString());
    openEndedAnswer.value = undefined;
  }
}
</script>

<template>
  <template v-if="question?.eduQuestionType === 'Multiple choice'">
    <button
      v-for="answer in question?.suggestedAnswer"
      :key="answer.text"
      @click.prevent="!isReadonly && emit('answer', answer.text)"
      :disabled="isReadonly"
    >
      {{ answer.text }}
    </button>
  </template>

  <template v-if="question?.eduQuestionType === 'Open ended'">
    <template v-if="!isReadonly">
      <input
        type="number"
        min="0"
        max="1000000"
        v-model.lazy="openEndedAnswer"
      />
      <p v-if="isInvalidAnswer" class="error">
        Bitte gib eine gültige Zahl ein
      </p>
      <button @click.prevent="submitOpenEndedAnswer" class="submit">
        Abschicken
      </button>
    </template>
    <input v-else type="number" placeholder="Gib eine Zahl ein" readonly />
  </template>
</template>

<style scoped>
button {
  background-color: var(--color-primary-dark);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 2.5em;
  max-width: 600px;
  padding: 0 2em;
  width: 100%;
  transition: background-color 0.25s;
}
button:disabled {
  color: rgba(255, 255, 255, 0.87);
  cursor: default;
}
button:hover {
  background-color: var(--color-primary);
}
button:focus-visible {
  outline: 2px solid var(--color-primary);
}

input {
  width: 100%;
  max-width: 600px;
  align-self: center;
  border: 1px solid var(--color-primary-dark);
  border-radius: var(--border-radius);
  font-size: 24px;
  line-height: 2em;
  text-align: center;
}
input:focus-visible {
  outline: 2px solid var(--color-primary);
  /* outline-offset: 3px; */
}

.error {
  color: orangered;
  align-self: flex-start;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  .error {
    color: crimson;
  }
}
</style>
