<template>
  <header>
    <slot name="header"></slot>
  </header>
  <main>
    <slot></slot>
  </main>
  <footer>
    <slot name="footer"></slot>
  </footer>
</template>

<style scoped>
header {
  border-bottom: 2px solid var(--color-primary);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--padding);
  font-size: 20px;
}

main {
  padding: var(--padding);
  flex: 1;
  font-size: 20px;
}

footer {
  height: 60px;
  padding: 0 var(--padding);
  font-size: 20px;
}
</style>
