:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CUSTOM */
  --border-radius: 8px;
  --color-primary: steelblue;
  --color-primary-dark: #23415a;
  --padding: 16px;
  --header-height: 60px;
}

@media only screen and (min-width: 600px) {
  :root {
    --padding: 32px;
  }
}

body,
header, main, footer, section,
button, div, input {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.full-height {
  height: 100%;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--padding);
}

@media only screen and (min-width: 600px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.main-grid-left,
.main-grid-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.4em;
}

.main-grid-left {
  font-size: 32px;
}

.button {
  background-color: var(--color-primary-dark);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 2em;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: var(--color-primary);
}

.button:focus-visible {
  outline: 2px solid var(--color-primary);
}

.input {
  border: 1px solid var(--color-primary-dark);
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: 24px;
  line-height: 2em;
  text-align: center;
}

.input:focus-visible {
  outline: 2px solid var(--color-primary);
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}