<script setup lang="ts">
import { onMounted, ref } from "vue";
import { API_URL } from "../constant";
import { QuizInfoDto } from "../model";

const quizzes = ref<QuizInfoDto[]>([]);

onMounted(() => {
  fetch(`${API_URL}/quiz`, {
    method: "GET",
    headers: { Accept: "application/json" },
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error(response.statusText);
      }
      return response.json();
    })
    .then((data) => {
      quizzes.value = data;
    })
    .catch((e) => console.error(e));
});
</script>

<template>
  <h1>Quizze</h1>
  <ul>
    <li v-for="quiz in quizzes" :key="quiz.identifier">
      <router-link
        :to="{ name: 'host', params: { quizId: quiz.identifier } }"
        >{{ quiz.name }}</router-link
      >
    </li>
  </ul>
</template>
