<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import AppQuestion from "../components/AppQuestion.vue";
import { useSocketIO } from "../composable/useSocketIO";
import { API_URL } from "../constant";
import HostLayout from "../layouts/HostLayout.vue";
import {
  Answer,
  Question as QuestionDto,
  QuizInfoDto,
  ScoresDto,
} from "../model";

type QuizState = "not-started" | "question" | "answer" | "scores" | "quiz-end";

// use
const { socket } = useSocketIO();
const route = useRoute();

// ref
const quiz = ref<QuizInfoDto>();
const quizState = ref<QuizState>("not-started");
const players = ref<string[]>([]);
const scores = ref<ScoresDto>([]);
const currentQuestion = ref<QuestionDto | undefined>();
const correctAnswer = ref<Answer | undefined>();
const secondsLeft = ref(0);

// hook
onMounted(() => {
  fetch(`${API_URL}/quiz/${route.params.quizId}`, {
    method: "GET",
    headers: { Accept: "application/json" },
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error(response.statusText);
      }
      return response.json();
    })
    .then((data) => {
      quiz.value = data;
    })
    .catch((e) => console.error(e));
});

// function
const buttonText = computed(() => {
  switch (quizState.value) {
    case "not-started":
      return "Quiz starten";
    case "answer":
    case "scores":
      return "Weiter";
    default:
      return "";
  }
});
const showButton = computed(
  () =>
    quizState.value === "not-started" ||
    quizState.value === "answer" ||
    quizState.value === "scores"
);
function next() {
  switch (quizState.value) {
    case "not-started":
    case "scores":
      socket.emit("next-question");
      break;
    case "answer":
      quizState.value = "scores";
      break;
    default: // question, quiz-end
      break;
  }
}

// socket
socket.on("question", (question: QuestionDto) => {
  currentQuestion.value = question;
  correctAnswer.value = undefined;
  quizState.value = "question";
});
socket.on("timer", (timer: number) => {
  secondsLeft.value = timer;
});
socket.on("correct-answer", (answer: Answer) => {
  correctAnswer.value = answer;
  quizState.value = "answer";
});
socket.on("players", (newPlayers: string[]) => {
  players.value = [...newPlayers].sort((a, b) => a.localeCompare(b));
});
socket.on("scores", (newScores: ScoresDto) => {
  scores.value = [...newScores]
    .sort((a, b) => a.score - b.score)
    .reverse()
    .slice(0, 5);
});
socket.on("quiz-end", () => {
  quizState.value = "quiz-end";
});
</script>

<template>
  <HostLayout>
    <template #header>
      <div class="truncated-text">{{ quiz?.name }}</div>
      <div v-if="quizState === 'question'" class="timer">{{ secondsLeft }}</div>
    </template>

    <template #default v-if="quizState === 'not-started'">
      <div class="intro">Warte auf Mitspieler</div>
      <div class="player-count">{{ players.length }}</div>
    </template>

    <template #default v-else-if="quizState === 'question'">
      <div class="full-height main-grid question">
        <div class="main-grid-left">
          <div>{{ currentQuestion?.text }}</div>
        </div>
        <div class="main-grid-right">
          <AppQuestion
            :is-readonly="true"
            :question="currentQuestion"
          ></AppQuestion>
        </div>
      </div>
    </template>

    <template #default v-else-if="quizState === 'answer'">
      <div class="full-height main-grid answer">
        <div class="main-grid-left">
          <div>{{ currentQuestion?.text }}</div>
        </div>
        <div class="main-grid-right">
          <div>✅ &nbsp; {{ correctAnswer?.text }}</div>
        </div>
      </div>
    </template>

    <template #default v-else-if="quizState === 'scores'">
      <div class="full-height main-grid scores">
        <div class="main-grid-left">
          <div>Rangliste</div>
        </div>
        <div class="main-grid-right">
          <div class="symbol">🏆</div>

          <div
            v-for="(score, index) in scores"
            :key="score.player.identifier"
            class="score-item"
          >
            <span class="rank">{{ index + 1 }}</span>
            <span class="player-name">{{ score.player.name }}</span>
            <span class="points">{{ score.score }}</span>
          </div>
        </div>
      </div>
    </template>

    <template #default v-else-if="quizState === 'quiz-end'">
      <div class="full-height quiz-end">
        <div class="text">Vielen Dank für's Mitmachen!</div>
        <div class="symbol">💙</div>
      </div>
    </template>

    <template #footer>
      <button v-if="showButton" @click.prevent="next" class="button next">
        {{ buttonText }}
      </button>
    </template>
  </HostLayout>
</template>

<style scoped>
button.next {
  width: 100%;
}
@media only screen and (min-width: 400px) {
  button.next {
    padding: 0 2em;
    width: auto;
  }
}

.timer {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 500;
}

/* screens */
.intro {
  font-size: 32px;
  line-height: 1.4em;
  margin-top: 30vh;
}
.player-count {
  font-size: 24px;
  margin-top: 1em;
}

.question .main-grid-right {
  font-size: 24px;
  row-gap: var(--padding);
}

.answer .main-grid-right {
  font-size: 32px;
}

.scores .main-grid-right {
  align-items: stretch;
  font-size: 24px;
  text-align: left;
  line-height: normal;
  row-gap: 0.5em;
}
.scores .symbol {
  font-size: 60px;
  padding-bottom: 1em;
  text-align: center;
}
.score-item {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--padding);
}
.score-item .rank {
  display: inline-block;
  width: 2em;
  text-align: right;
}
.score-item .rank::after {
  content: ".";
}
.score-item .player-name {
  flex: 1;
}

.quiz-end {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  row-gap: var(--padding);
}
.quiz-end .text {
  font-size: 32px;
  line-height: 1.4em;
}
.quiz-end .symbol {
  font-size: 120px;
}
</style>
