<script setup lang="ts">
import { useCookies } from "@vueuse/integrations/useCookies";
import { nanoid } from "nanoid";
import { computed, ref, unref } from "vue";
import AppQuestion from "../components/AppQuestion.vue";
import { useSocketIO } from "../composable/useSocketIO";
import HostLayout from "../layouts/HostLayout.vue";
import { AnswerDto, JoinQuizDto, Question as QuestionDto } from "../model";

type QuizState = undefined | "question" | "answered" | "quiz-end";
const COOKIE_NAME = "player";

// use
const { socket } = useSocketIO();
const cookies = useCookies();

// ref
const player = ref<JoinQuizDto | undefined>(cookies.get(COOKIE_NAME));
const quizState = ref<QuizState>();
const currentQuestion = ref<QuestionDto | undefined>();
const secondsLeft = ref(0);
const nickname = ref("");

// function
const showTimer = computed(
  () => quizState.value === "question" || quizState.value === "answered"
);
function join() {
  if (!nickname.value.match(/^[\w][\w -]*[\w]$/)) return;

  const unrefPlayer: JoinQuizDto = {
    identifier:
      crypto && "randomUUID" in crypto ? crypto.randomUUID() : nanoid(),
    nickname: nickname.value,
  };
  player.value = unrefPlayer;
  cookies.set(COOKIE_NAME, unrefPlayer, {
    expires: new Date(Date.now() + 2 * 60 * 60 * 1000),
    sameSite: true,
  });
  socket.emit("join-quiz", unrefPlayer);
}
function onAnswer(value: string) {
  console.log("answer", value);
  if (currentQuestion.value && secondsLeft.value) {
    const answer: AnswerDto = {
      questionId: currentQuestion.value.identifier,
      answer: value,
    };
    socket.emit("answer", answer);
    quizState.value = "answered";
  }
}

// socket
if (player.value) socket.emit("join-quiz", unref(player));
socket.on("question", (question: QuestionDto) => {
  currentQuestion.value = question;
  quizState.value = "question";
});
socket.on("timer", (timer: number) => {
  secondsLeft.value = timer;
});
socket.on("correct-answer", () => {
  quizState.value = "answered";
});
socket.on("quiz-end", () => {
  quizState.value = "quiz-end";
});
</script>

<template>
  <HostLayout>
    <template #header>
      <!-- TODO switch Emojis: 👤🙃🤪 🤨🤔🧐🥵🤯 🥳😴 -->
      <div class="truncated-text">
        {{ player ? player.nickname : "🍻 Pub Quiz" }}
      </div>
      <div v-if="showTimer" class="timer">{{ secondsLeft }}</div>
    </template>

    <template #default v-if="!player">
      <div class="full-height join">
        <p>Gib deinen Spielernamen ein</p>
        <input
          v-model.lazy.trim="nickname"
          type="text"
          maxlength="50"
          pattern="^[\w][\w -]*[\w]$"
          class="input"
        />
        <button @click.prevent="join" class="button">Los geht's</button>
      </div>
    </template>

    <template #default v-else-if="!quizState">
      <div class="intro">Mach dich bereit, {{ player.nickname }}!</div>
    </template>

    <template #default v-else-if="quizState === 'question'">
      <div class="full-height main-grid question">
        <div class="main-grid-left">
          <div>{{ currentQuestion?.text }}</div>
        </div>
        <div class="main-grid-right">
          <AppQuestion
            :is-readonly="false"
            :question="currentQuestion"
            @answer="onAnswer"
          ></AppQuestion>
        </div>
      </div>
    </template>

    <template #default v-else-if="quizState === 'answered'">
      <div class="full-height main-grid answer">
        <div class="main-grid-left">
          <div>Deine Antwort wurde gespeichert!</div>
        </div>
        <div class="main-grid-right">
          <div>Gleich geht's weiter ...</div>
        </div>
      </div>
    </template>

    <template #default v-else-if="quizState === 'quiz-end'">
      <div class="full-height quiz-end">
        <div class="text">Vielen Dank für's Mitmachen!</div>
        <div class="symbol">💙</div>
      </div>
    </template>
  </HostLayout>
</template>

<style scoped>
.timer {
  margin-right: calc(var(--padding) * -1);
  padding: 0 var(--padding);
  height: 100%;
  width: 100px;
  background-color: var(--color-primary);
  text-align: right;
  font-size: 32px;
  line-height: var(--header-height);
}

/* screens */
.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--padding);
  font-size: 20px;
}

.join * {
  width: 100%;
  max-width: 600px;
}

.intro {
  font-size: 32px;
  line-height: 1.4em;
  margin-top: 30vh;
}

.question .main-grid-right {
  font-size: 24px;
  row-gap: var(--padding);
}

.answer .main-grid-right {
  font-size: 24px;
}

.quiz-end {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  row-gap: var(--padding);
}
.quiz-end .text {
  font-size: 32px;
  line-height: 1.4em;
}
.quiz-end .symbol {
  font-size: 120px;
}
</style>
